:root {
    --fonte-principal: 'Raleway', sans-serif;
    --fonte-secundaria: 'Playfair Display', sans-serif;
    --cor-fonte: #2F2F2F;
    --cor-fonte-azul: #06368E;
    --cor-divmain: #00A1FC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    scroll-behavior: smooth;
    transition: all 0.3s ease;

    list-style: none;
    text-decoration: none;

    font-family: var(--fonte-principal);
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background: linear-gradient(0deg,
            #051F52 0.1%,
            #174FB7 100%);
}