:root {
    --fonte-principal: 'Raleway', sans-serif;
    --fonte-secundaria: 'Playfair Display', sans-serif;
    --cor-fonte: #CAE2FF;
    --cor-azul-principal: #174FB7;
    --cor-azul-claro: #00A0FD;
    --cor-azul-normal: #06368E;
    --cor-branco: #FFFFFF;
    --cor-bg-escuro: #061124;
}